!!!
%html
	%head
		%title Fallout Shelter Overseer Toolbox
		%link{res: :stylesheet, type: 'text/css', href: 'style.css'}/
		%script{type: 'text/javascript', src: 'lib/routie.min.js'}
		%script{type: 'text/javascript', src: 'logic.js'}
	%body
		%nav
			%h1 FOS Toolbox
			%ul
		.part#vault
			%h2 Vault
			vault vault
		.part#stats
			%h2 Stats
			table table
		.part#wasteland
			%h2 Wasteland
			wasteland wasteland
